code {
  color: #515560;
  text-align: left;
  font-size: 0.875rem;
}

.embed-code {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#embed-copy-button {
  color: #0E47CB;
}

.modal.show {
  background-color: rgba(8,43,122,.4);
}

.modal-backdrop.show {
  opacity:0;
}

.modal-content {
  color: #515560;
	font-size: 1rem;
	text-align: left;
}

.modal-header {
  align-items: normal;
  justify-content: space-between;
}

.modal-title{
  font: normal normal 400 1.125rem/1.75rem arial,sans-serif;
  color: #262B38;
}

#embed-modal .modal-footer {
  justify-content: stretch;
  display: block;
}

#embed-modal .modal-title {
  display: flex;
  align-items: center;
}

.modal button.close {
	border: none;
	color: #0E47CB;
	background-color: unset;
}

#embed-success-notification, #embed-error-notification {
  visibility: hidden;
}

.ecl-modal__close.ecl-button--tertiary {
  color: #0E47CB;
}
